In [1]:
#introduction to list slicing

my_stud=['sana','divya','hema','anu','liya','asha']

print(my_stud)

['sana', 'divya', 'hema', 'anu', 'liya', 'asha']

In [2]:
type(my_stud)#to check datatype

list

In [3]:
# to print 'sana', 'divya', 'hema'->1 division->to be included

print(my_stud[0:3])

['sana', 'divya', 'hema']

In [4]:
# to print 'anu', 'liya'->2 division->to be included

print(my_stud[3:5])

['anu', 'liya']

In [16]:
stud1=['sandy','dhanya','harsha','anufia','lisa','asha','malar','maya','kumar']

print(stud1)

['sandy', 'dhanya', 'harsha', 'anufia', 'lisa', 'asha', 'malar', 'maya', 'kumar']

In [18]:
print(stud1[0:9:1])

['sandy', 'dhanya', 'harsha', 'anufia', 'lisa', 'asha', 'malar', 'maya', 'kumar']

In [19]:
print(stud1[0:9:2])# alternate picking up:->step count->conditioning

['sandy', 'harsha', 'lisa', 'malar', 'kumar']

In [20]:
#slicing:-> gneral index->[start: end value:step:count]

print(stud1[0:9:3])

['sandy', 'anufia', 'malar']

In [24]:
#introduction to tuple data type:

#immutable data type (fixed value)->to define using ()

dim=(200,50)

print(dim)

(200, 50)

In [25]:
dim[0]=250  #unable yo alter, modify or change ->if to do so rebuild completely (eg:building a house)

print(dim)

TypeError: 'tuple' object does not support item assignment

In [26]:
dim=(250,50)

print(dim)

(250, 50)

In [27]:
#to access elements in a tuple

print(dim[0])

250

In [28]:
print(dim[1])

50

In [29]:
type(dim)

tuple